@model List<ProjectManagement.Models.Client>
@{
    ViewBag.Title = "AddClient";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var projects = ViewData["projects"] as ProjectManagement.Models.Project;
    string isContractor = ViewData["isContractor"] as string;
}

<div class="container-fluid" style="width:100%;">
    <div style="background: #f8f8f8; border-radius: 4px;">
        <div class="col-md-12 headd">
            CLIENT INFORMATION
        </div>
        <div id="London" class="tabcontent active" style="display:block; width:65%; margin-left:10px;">
            @using (Html.BeginForm("SaveClient", "Client", FormMethod.Post, new { enctype = "multipart/form-data", id = "client", data_toggle = "validator" }))
            {
                @*<div class="col-md-12">
                        <h1 class="register-head margin10">Client Information</h1>
                    </div>*@

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Company Name<br>
                        <input type="text" class="form-control" id="CompanyName" required="required" name="CompanyName" size="74">
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Contact No<br>
                        <input type="text" class="form-control" id="ContactNo" required="required" name="ContactNo" size="74">
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Email<br>
                        <input type="text" class="form-control" id="Email" required="required" name="Email" size="74">
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Address<br>
                        <input type="text" class="form-control" id="Address" required="required" name="Address" size="74">
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Website<br>
                        <input type="text" class="form-control" id="Website" required="required" name="Website" size="74">
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Select Project<br>
                        <select class="form-control" id="ProjectId" name="ProjectId">
                            <option value="@projects.Id">@projects.Title</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Have JV Agreement/Sub Contract<br>
                        <select class="form-control" id="Contractor" name="Contractor">
                            <option value="yes" selected>YES</option>
                            <option value="no">NO</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-4 button-form">
                        <input type="submit" id="btnSave" name="btnSave" class="create-acc" value="ADD CLIENT" />
                    </div>
                </div>

            }
            <div class="col-md-12 form-fill">
                <div class="col-md-4 button-form">
                    <a href="@Url.Action("Next", "Client", new { id = projects.Id, mes = isContractor })" id="btnSave" name="btnSave" class="create-acc">NEXT</a>
                    @*/Client/Next/@projects.Id*@
                </div>
            </div>
        </div>
    </div>



    <div style="background: #f8f8f8; border-radius: 4px;">
        <div class="col-md-12">
            <h1 class="register-head margin10">Client List</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Contact No</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Website</th>
                        <th>Project</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{

                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CompanyName</td>
                                <td>@item.ContactNo</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.Website</td>
                                <td>@item.Project.Title</td>
                                <td>
                                    <a href="~/Client/DeleteClient/@item.Id" title="delete"><span class="glyphicon glyphicon-trash"></span></a>
                                    <a href="@Url.Action("ClientUpdate", "Client", new { id = item.Id, projectId = item.ProjectId })" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
