@model List<ProjectManagement.Models.Project>
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var projectCategory = ViewData["projectCategory"] as List<ProjectManagement.Models.ProjectCategory>;
    var projectType = ViewData["projectType"] as List<ProjectManagement.Models.ProjectType>;
}


<div class="container-fluid" style="width:100%;">
    <div style="background: #f8f8f8; border-radius: 4px;">
        <div class="col-md-12 headd">
            PROJECT INFORMATION
        </div>
        <div id="London" class="tabcontent active" style="display:block; width:65%; margin-left:10px;">
            @using (Html.BeginForm("SaveProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data", data_toggle = "validator" }))
            {
                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Project Type<br>
                        <select class="form-control" id="ProjectTypeId" name="ProjectTypeId">
                            <option selected>Select Project Type</option>
                            @foreach (var item in projectType)
                            {
                                <option value="@item.Id">@item.Type</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Approval Date<br>
                        <input type="date" class="form-control" id="ApprovalDate" required="required" name="ApprovalDate" size="74">
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Title<br>
                        <input type="text" class="form-control" id="Title" required="required" name="Title" size="74">
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Project Category<br>
                        <select class="form-control" id="ProjectCategoryId" name="ProjectCategoryId">
                            <option selected>Select Project Category</option>
                            @foreach (var item in projectCategory)
                            {
                                <option value="@item.Id">@item.Category</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Start Date<br>
                        <input type="date" class="form-control" id="StartDate" required="required" name="StartDate" size="74">
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        End Date<br>
                        <input type="date" class="form-control" id="EndDate" required="required" name="EndDate" size="74">
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Introduction<br>
                        <textarea class="form-control" id="Introduction" name="Introduction" required="required"></textarea>
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Key Details<br>
                        <input type="text" class="form-control" id="KeyDetails" required="required" name="KeyDetails" size="74">
                    </div>
                </div>

                <div class="col-md-12 form-fill">
                    <div class="col-md-8">
                        Scope<br>
                        <input type="text" class="form-control" id="Scope" required="required" name="Scope" size="74">
                    </div>
                </div>


                <div class="col-md-12 form-fill">
                    <div class="col-md-4 button-form">
                        <input type="submit" id="btnSave" name="btnSave" class="create-acc" value="SAVE" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*<div style="background: #f8f8f8; border-radius: 4px;">
    <div class="col-md-12">
        <h1 class="register-head margin10">Projects List</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Project Type</th>
                    <td>Approval Date</td>
                    <th>Title</th>
                    <th>ProjectCategory</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Introduction</th>
                    <th>KeyDetails</th>
                    <th>Scope</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProjectType.Type</td>
                            <td>@item.ApprovalDate</td>
                            <td>@item.Title</td>
                            <td>@item.ProjectCategory.Category</td>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>
                            <td>@item.Introduction</td>
                            <td>@item.KeyDetails</td>
                            <td>@item.Scope</td>
                            <td>
                                <a href="~/Project/DeleteProject/@item.Id" title="delete"><span class="glyphicon glyphicon-trash"></span></a>
                                <a href="~/Project/ProjectUpdate/@item.Id" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>*@


